.img_container{
    float: left;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px;
    
    
}

img {
    width: 100%;
}

#different{
 border: 3px solid black;
 
 
}
 
